name: Deploy Flask App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            # Clean up old folder completely
            sudo rm -rf ~/flask-deploy

            # Clone fresh code
            git clone https://github.com/janaksingh27/flask-devops-demo.git ~/flask-deploy

            cd ~/flask-deploy

            # Run Docker Compose cleanly
            sudo docker compose down || true
            sudo docker compose up -d --build


